.About {
  background-color: rgb(30, 48, 128);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: rgb(192, 203, 253);
  margin: 0;
  overflow: hidden;
}

.About h1 {
  width: 90%;
}



@media(max-width:752px) {
  .About h1 {
    font-kerning:auto;
    width: 100%;
  }
}
