.About {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  font-size: calc(10px + 2vmin);
  margin: 0;
  overflow: hidden;
}

.About p {
  color : var(--about-body-color);
}

.About-Content {
  display : flex;
  flex-direction : row;
  justify-content: space-between;
}

.About-Img {
  width: 100%;
}

.About-Img-Container {
  overflow: hidden;
  margin-left: 2rem;
}

.About-Color {
  background-color: var(--about-bg-color);
  color : var(--about-fg-color);
}

@media(max-width:752px) {
  .About h1 {
    font-kerning:auto;
    width: 100%;
  }

  .About-Content {
    flex-direction: column-reverse;
  }

  .About-Img-Container {
    overflow:visible;
    margin-left: 0;
    height: auto;
    width: 100%;
  }

  .About-Img {
  
  }
}
