.Home {
  background-color: #000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem;
  margin: 0;
  overflow: hidden;
}

.Page-Link {
  font-weight:400;
  font-size: calc(2rem + 8vmin);
}

.Content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  z-index: -5;
}

.Link-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  z-index: 2;
  /* border-style: solid;
  border-width: 2px; */
}

.Home-Pic-Container {
  position : fixed;
  left : 7%;
  bottom : 7%;
  overflow : hidden
}

@media(max-width:868px) {
  .Content {
    justify-content: center;
  }
  .Link-Container {
    text-align: center;
  }

  .Home-Pic-Container {
    position : absolute;
    top : 17%;
    left : 2rem;
    right : 2rem;
    bottom : auto;
    opacity : .8;
  }
}