.Home {
  /* background-color: rgb(30, 48, 128); */
  background-color: rgb(222, 255, 132);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  /* flex-direction: column;
  justify-content: flex-start; */
  font-size: calc(8px + 5vmin);
  /* color: rgb(192, 203, 253); */
  color: black;
  margin: 0;
  overflow-x: hidden;
}

.Home-Image {
  display: none;
  margin: 0;
  padding : 0;
  position : absolute;
  margin-right : 0rem;
  margin-bottom : 0rem;
  height : auto;
  width : 100%;
}

.TextContainer {
  overflow-y: hidden;
}

.Home-Span {
  font-weight:500;
  color: blue;
}
