.Path {
  padding: 0rem;
  margin: 0rem;
  font-size: 1.2rem;
  font-weight:600;
  text-align:right;
}

.Path-Dark {
  color: white;
}

.Path-Light {
  color: black
}

.Line {
  padding-bottom: .2rem;
  margin: 0px;
}

.Separator {
  height: 1.1rem
}