@import url('https://fonts.googleapis.com/css?family=Space+Grotesk');
html {
  height: 100%;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.speciallink {
  color: #FFF;
  text-decoration: none;
  background-image: -webkit-linear-gradient(150deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 15%,rgba(100,100,125,1) 25%,  rgba(255,0,0,1) 29%, rgba(255,226,0,1) 47%, rgba(0,255,115,1) 62%, rgba(0,26,255,1) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500%;
  background-position: right;
  transition: background-position 2s;
}

.speciallink:hover {
  background-position: left;
}

.speciallink:focus {
  background-position: left;
}

.pagetitle {
  font-size: calc(2rem + 6vmin);
  font-weight: 400;
}

.divider-sm5 {
  height: .5rem;
}

.expander {
  width: 0%;
  transition: 1s width;
}

.fader {
  opacity: 0;
  transition: 2s opacity;
}

.fade-in {
  opacity: 1;
}

.expand {
  width: 100%;
}